a {
    margin: 7px;
}
.container {
background-color: cyan;
}
.row {
    background-color: cyan;
}
h1 {
text-align: center;
}
.hover,
.rotate,
.translatex,
.threed,
.skew,
.translatey,
.scale {
    width: 100px;
    line-height: 0;
    padding: 50px 0;
    margin: 50px auto;
    background-color: rgb(198, 23, 233);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    color:white;

/*properties you want to transition */
transition-property: color, background-color, transform; 
/*/*How long you want the element to transition */
transition-duration: 2s;
/*How long until the transition begins*/
transition-delay: 2s;
/*How we want our elements to trandition ease, ease-in */
transition-timing-function: ease-out;
}
  
.hover:hover {
color: blueviolet;
background-color: teal;
}
.rotate:hover {
color: blueviolet;
background-color: teal;
transform: rotate (360deg);
}
.skew:hover {
color: blueviolet;
background-color: teal;    
transform: skew(20deg);    
} 
.translatex:hover {
color: blueviolet;
background-color: teal;    
transform: translateX(-30px);      
}
.translatey:hover {
color: blueviolet;
background-color: teal;    
transform: translateY(50px);      
}
.scale:hover {
color: blueviolet;
background-color: teal;    
transform: scale(50%);      
}
.threed:hover {
color: blueviolet;
background-color: teal;    
transform: rotate3d(1, 1, 1, 360deg);      
}    
